table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}

table>thead>tr>td,
table>thead>tr>th {
    vertical-align: bottom;
    border: 1px solid #999;
    border-bottom-width: 2px;
    padding: 8px;
    text-align: center;
    width: 50%;
}

table>tbody>tr>td {
    border: 1px solid #999;
    padding: 8px;
}
table>tbody>tr>td:first-child {
   background-color: #eee;
}
pre{
    margin:0px;
}